*

!.gitignore

!.bin
!.bin/*
.bin/node_modules

!.config
!.config/i3
!.config/i3/config

!.config/Code
!.config/Code/User
!.config/Code/User/*
!.config/Code/User/snippets
!.config/Code/User/snippets/*

!.bashrc

!.emacs.d
!.emacs.d/*
!.emacs.d/lib
!.emacs.d/lib/*
!.emacs.d/snippets
!.emacs.d/snippets/**/*
