*

!.gitignore

!.bin
!.bin/*
!.bin/clean_db/**/*
.bin/node_modules

!.config
!.config/i3
!.config/i3/config
!.config/i3status
!.config/i3status/config

!.config/Code
!.config/Code/User
!.config/Code/User/*
!.config/Code/User/snippets
!.config/Code/User/snippets/*

!.bashrc

!.emacs.d
!.emacs.d/*
!.emacs.d/lib
!.emacs.d/lib/*
!.emacs.d/snippets
!.emacs.d/snippets/**/*
!.emacs.d/packages/**/*

!.spacemacs
!.inputrc