*
!.gitignore
!.bin
!.bin/*
.bin/node_modules
!.config
!.config/i3
!.config/i3/config
!.bashrc
!.emacs.d
!.emacs.d/*
!.emacs.d/lib
!.emacs.d/lib/*
!.emacs.d/snippets
!.emacs.d/snippets/css-mode
!.emacs.d/snippets/html-mode
!.emacs.d/snippets/js2-mode
!.emacs.d/snippets/js3-mode
!.emacs.d/snippets/js-mode
!.emacs.d/snippets/web-mode


